:root{
    --green:#27ae60;
    --black:#192a56;
    --light: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
 font-size: 62.5%;
 overflow-x: hidden;
 scroll-padding-top:5.5rem ;
 scroll-behavior: smooth;
 
}
body{
    
    text-align: center;
    align-items: center;
    justify-content: center;  
}
.box-container{
   display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
   
}
.box-container .img-box{
    overflow: hidden;
    width: 20rem;
    height: 30rem;
    align-self: center;
    justify-content: center;
}
.box-container .img-box .image{
   display: flex;
   transition: all 2s linear .5s backwards;
   gap: 1.5rem;
  
}
.img.active{
    animation: rotate 2s linear ;
}
.image.active{
    animation: move1 3s linear ;
    
}
input[type='range']{
    width: 150%;
    margin-left: -5rem;
}
input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0 0 1px rgb(34, 199, 199);
    color: white;
    
  background-color: rgb(251, 251, 251);
} 
input[type='range']::-moz-range-track {
    background-color: rgb(34, 199, 199);
  } 
.box-container .image img{
    transition: all 50s ease-in linear;
    width: 20rem;
    transform: rotate(0deg);
   
}

button{
    margin-top: 2rem ;
    margin-left: 63rem;
    display: block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: 1.3rem 3rem;

}
button:hover{
    background: var(--green);
    letter-spacing: .1rem;
    
}
h3{
    padding-top: 2rem;
    font-size: 2rem;
    display: inline-flex;
    color: var(--black);
}
p{
    padding-left: 10px;
}
@media (max-width:928px) {
    button{
        margin-left: 45%;
    }
}
@media (max-width:428px) {
    button{
        margin-left: 40%;
    }
}